<div ng-controller="uSyncMigrationDashboardController as vm">

    <umb-box>
        <umb-box-header title-key="usyncmigrate_title"></umb-box-header>
        <umb-box-content>
            <localize key="usyncmigrate_intro"></localize>
        </umb-box-content>
    </umb-box>

    <umb-box ng-if="vm.options.hasPending == true">
        <umb-box-header title="Pending Migrations"></umb-box-header>
        <umb-box-content>
            <p>Umbraco v7 compatible files have been found in your uSync folder, you can migrate the following:</p>
            <!-- // TODO: Add check all [LK] -->
            <div class="ml2 mb3">
                <umb-checkbox ng-repeat="handler in vm.options.handlers"
                              model="handler.include"
                              value="handler.include">
                    <span ng-bind="handler.name"></span>
                </umb-checkbox>
            </div>
            <umb-button action="vm.migrate()"
                        label="Convert Files"
                        button-style="success"
                        state="vm.state">
            </umb-button>
        </umb-box-content>
    </umb-box>

    <umb-box ng-if="vm.converted">
        <umb-box-header title="File Conversion results"></umb-box-header>
        <umb-box-content ng-if="vm.results.success">
            <p>
                The files have successfully been migrated to your uSync folder,
                you can now run reports, imports to get the files into uSync
            </p>
            <div class="umb-table">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell"></div>
                        <div class="umb-table-cell">Type</div>
                        <div class="umb-table-cell">Item</div>
                        <div class="umb-table-cell">Message</div>
                    </div>
                </div>
                <div class="umb-table-body">
                    <div ng-repeat="m in vm.results.messages"
                         class="umb-table-row">
                        <div class="umb-table-cell">
                            <i class="icon icon-check color-green" ng-if="m.messageType == 'Success'"></i>
                            <i class="icon icon-alert color-orange" ng-if="m.messageType == 'Warning'"></i>
                            <i class="icon icon-wrong color-red" ng-if="m.messageType == 'Error'"></i>
                        </div>
                        <div class="umb-table-cell">{{m.itemType}}</div>
                        <div class="umb-table-cell">{{m.itemName}}</div>
                        <div class="umb-table-cell">{{m.message}}</div>
                    </div>
                </div>
            </div>
        </umb-box-content>
    </umb-box>

</div>