<div ng-controller="uSyncMigrateController as vm">
    <umb-editor-panel>
        <umb-editor-header name="'Migrate'"
                           description="'Migrate uSync files'"
                           name-locked="true"
                           description-locked="true"
                           hide-alias="true"
                           hide-icon="true">
        </umb-editor-header>

        <umb-editor-container class="form-horizontal">

            <div class="flex items-center mb3 color-deep-orange justify-center">
                <umb-icon icon="icon-lab" class="large mr3 color-red"></umb-icon>
                Never do in place migrations on your live data and always have a backup.
            </div>

            <div ng-if="vm.error.length > 0" class="alert alert-error flex items-center">
                <umb-icon icon="icon-wrong" class="mr2 large"></umb-icon>
                <div>{{vm.error}}</div>
            </div>

            <!-- init -->
            <div ng-if="vm.progress == 'init'">
                <umb-box>
                    <umb-box-header title="Setup"
                                    description="Control your migration">
                    </umb-box-header>
                    <umb-box-content>

                        <umb-control-group label="Source"
                                           description="Where are you migrating from?">

                            <div class="flex justify-between items-center">
                                <div class="flx-g1 mr2">
                                    <input type="text" class="umb-textstring umb-property-editor"
                                           ng-model="vm.options.source" readonly disabled />
                                </div>
                                <umb-button button-style="action"
                                            size="small"
                                            action="vm.pickSource()"
                                            label="Change">
                                </umb-button>
                            </div>

                            <div ng-if="!vm.sourceValid && vm.sourceError.length > 0"
                                 class="alert alert-danger mt2">
                                Source Invalid : {{vm.sourceError}}
                            </div>

                        </umb-control-group>

                        <umb-control-group label="Target"
                                           description="Where are you migrating to?">

                            <div class="flex justify-between items-center">
                                <div class="flx-g1 mr2">
                                    <input type="text" class="umb-textstring umb-property-editor"
                                           ng-model="vm.options.target" />
                                </div>
                                <umb-button button-style="action"
                                            size="small"
                                            action="vm.pickTarget()"
                                            label="Change">
                                </umb-button>
                            </div>

                        </umb-control-group>

                        <umb-control-group label="Items"
                                           description="What things are you migrating?">

                            <div class="mt2 flex justify-between items-center">
                                <ul class="inline">
                                    <li ng-repeat="handler in vm.options.handlers"
                                        ng-if="handler.include == true">
                                        {{handler.name}}
                                    </li>
                                </ul>
                                <umb-button button-style="action"
                                            size="small"
                                            action="vm.pickHandlers()"
                                            label="Change">
                                </umb-button>
                            </div>
                        </umb-control-group>

                    </umb-box-content>
                </umb-box>

                <usync-migration-results results="vm.validation"
                                         action="Validation"
                                         is-valid="vm.sourceValid">
                </usync-migration-results>

                <div class="flex justify-center flex-column items-center">
                    <umb-button action="vm.migrate()"
                                label="Do it, Do it now!"
                                button-style="success btn-large"
                                icon="icon-smiley"
                                disabled="vm.working || vm.sourceValid == false || vm.validation.success == false"
                                state="vm.state">
                    </umb-button>
                    <div><small><em>(create the migrated uSync files)</em></small></div>
                </div>
            </div>

            <!-- migrating -->
            <div ng-if="vm.progress == 'migrating'">
                <umb-load-indicator>xxxxx</umb-load-indicator>
                <div style="position: absolute; top: 55%; left: 0; width: 100%; text-align: center;">
                    <strong>{{vm.migrationMessage}}</strong>
                </div>
            </div>

            <!-- migrated -->
            <div ng-if="vm.progress == 'migrated'">
                <umb-box>
                    <umb-box-content ng-if="vm.results.success">
                        <p>
                            The files have successfully been migrated to your uSync folder,
                            you can now run reports, imports to get the files into uSync
                        </p>

                        ({{vm.results.messages.length}})
                    </umb-box-content>
                </umb-box>

                <usync-migration-results results="vm.results"
                                         action="Migration"
                                         is-valid="vm.resultValid"
                                         show-all="true">
                </usync-migration-results>

                <div class="flex justify-center flex-column items-center">
                    <umb-button action="vm.importItems(vm.options.target)"
                                label="Import It!"
                                button-style="success btn-large"
                                icon="icon-rocket"
                                disabled="vm.working"
                                state="vm.state">
                    </umb-button>
                    <div><small><em>Import from {{vm.options.target}}</em></small></div>
                </div>
            </div>

            <!-- importing -->
            <div ng-if="vm.progress == 'importing' || vm.progress == 'imported'">
                <umb-box>
                    <umb-box-content>
                        <usync-progress-view update="vm.update" status="vm.status" hide-labels="false">
                        </usync-progress-view>
                    </umb-box-content>
                </umb-box>
            </div>

            <!-- imported -->
            <div ng-if="vm.progress == 'imported'">

                <umb-box ng-if="!vm.showResults">
                    <umb-box-header title="View Results" ng-click="vm.showResults = !vm.showResults">
                        ({{vm.results.length}}) items
                    </umb-box-header>
                </umb-box>

                <div ng-if="vm.showResults">
                    <usync-report-view actions="vm.actions"
                                       results="vm.results"
                                       hide-action="true"
                                       hide-link="vm.hideLink">
                    </usync-report-view>
                </div>
            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            action="vm.close()"
                            disabled="vm.working">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-panel>
</div>