<div ng-controller="uSyncMigrationDashboardController as vm">
    <umb-editor-view>

        <umb-editor-header name="'uSync.Migrations 🪛'"
                           description="'You can migrate your own way.'"
                           description-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           name-locked="true">
        </umb-editor-header>

        <umb-editor-container class="form-horizontal">

            <div class="alert alert-warning flex items-center"
                 style="margin:-20px; margin-bottom: 10px;">
                <div class="mr2">
                    <umb-icon icon="icon-lab"></umb-icon>
                </div>
                <div><localize key="usyncmigrate_beta"></localize></div>
            </div>


            <div ng-if="vm.step == 'init'">
                <div class="usync-group-actions">
                    <umb-box class="usync-group-box">
                        <umb-box-content>
                            <div class="usync-group-box-header">
                                <div class="usync-group-box-title">
                                    <i class="icon icon-sprout color-green"></i>
                                    <h2><localize key="usyncmigrate_startTitle"></localize></h2>
                                </div>
                            </div>
                            <div>
                                <localize key="usyncmigrate_startIntro"></localize>
                            </div>
                            <div class="usync-group-buttons">
                                <umb-button button-style="success"
                                            icon="icon-folder"
                                            action="vm.pickSource()"
                                            size="l"
                                            label-key="usyncmigrate_selectSource">
                                </umb-button>

                                <umb-button button-style="success"
                                            icon="icon-zip"
                                            action="vm.uploadZip()"
                                            size="l"
                                            label-key="usyncmigrate_uploadZip">
                                </umb-button>
                            </div>
                        </umb-box-content>
                    </umb-box>

                    <umb-box class="usync-group-box">
                        <umb-box-content>
                            <div class="usync-group-box-header">
                                <div class="usync-group-box-title">
                                    <i class="icon icon-nodes color-blue"></i>
                                    <h2><localize key="usyncmigrate_convertTitle"></localize></h2>
                                </div>
                            </div>
                            <div><localize key="usyncmigrate_convertIntro"></localize></div>
                            <div class="usync-group-buttons">
                                <umb-button button-style="success btn-large"
                                            action="vm.existing();"
                                            icon="icon-nodes"
                                            label-key="usyncmigrate_convert">
                                </umb-button>
                            </div>
                        </umb-box-content>
                    </umb-box>
                </div>

                <div>
                    <usync-migration-list on-select="vm.selectMigration(migration)"></usync-migration-list>
                </div>
            </div>


            <div ng-if="vm.step == 'start'">

                <div ng-if="vm.migrationStatus">

                    <umb-box>
                        <umb-box-header title="{{vm.migrationStatus.name}}">
                            <umb-button button-style="default"
                                        action="vm.edit(vm.migrationStatus)"
                                        icon="icon-edit"
                                        size="sm"
                                        label-key="general_edit"></umb-button>
                        </umb-box-header>
                        <umb-box-content>
                            <umb-control-group label="@usyncmigrate_statusSource">
                                <div class="flex justify-between">
                                    <div class="umb-textstring umb-property-editor">{{vm.migrationStatus.source}}</div>
                                    <div>
                                        <umb-button action="vm.showValidation = !vm.showValidation"
                                                    label-key="usyncmigrate_showValidation"
                                                    button-style="link"></umb-button>
                                                    
                                    </div>
                                </div>
                            </umb-control-group>
                            <umb-control-group label="@usyncmigrate_statusVersion">
                                <div class="umb-textstring umb-property-editor">{{vm.migrationStatus.version}}</div>
                            </umb-control-group>
                            <umb-control-group label="@usyncmigrate_statusPlan">
                                <div class="umb-textstring umb-property-editor">{{vm.migrationStatus.plan}}</div>
                            </umb-control-group>

                            <umb-control-group label="@usyncmigrate_convertedLabel"
                                               description="@usyncmigrate_convertedDesc">
                                <div ng-if="vm.migrationStatus.migrated"
                                     class="flex justify-between">
                                    <localize key="general_yes"></localize>
                                    <umb-button action="vm.migrate()"
                                                label-key="usyncmigrate_convertAgain"
                                                button-style="default"
                                                disabled="vm.working"
                                                state="vm.buttonState">
                                    </umb-button>
                                </div>
                                <div ng-if="!vm.migrationStatus.migrated">
                                    <localize key="general_no"></localize>
                                </div>
                            </umb-control-group>

                            <umb-control-group label="@usyncmigrate_importedLabel"
                                               description="@usyncmigrate_importedDesc">
                                <div ng-repeat="(group, flag) in vm.migrationStatus.importStatus">
                                    <i class="icon icon-check color-green"></i>  {{group}}
                                </div>
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>


                    <div ng-if="!vm.migrationStatus.migrated || vm.showValidation">
                        <usync-migration-results results="vm.validation"
                                                 action="Validation"
                                                 is-valid="vm.sourceValid">
                        </usync-migration-results>
                    </div>
                </div>
                
                <div ng-if="vm.sourceValid && !vm.migrationStatus.migrated">
                    <div class="flex justify-center flex-column items-center">
                        <umb-button action="vm.migrate()"
                                    label-key="usyncmigrate_convertButton"
                                    button-style="success"
                                    size="xl"
                                    icon="icon-smiley"
                                    disabled="vm.working"
                                    state="vm.buttonState">
                        </umb-button>
                        <div><small><em><localize key="usyncmigrate_convertButtonSub"></localize></em></small></div>
                    </div>
                </div>
            </div>


            <div ng-if="vm.step == 'migrating'">

                <div ng-if="vm.working">
                    <usync-migration-messages working="vm.working"></usync-migration-messages>
                </div>

            </div>

            <div ng-if="vm.step == 'migrated'">

                <umb-box>
                    <umb-box-content ng-if="vm.migrationResults.success">
                        <localize accesskey="usyncmigrate_convertedSuccess"></localize>

                        ({{vm.migrationResults.messages.length}} messages returned)
                    </umb-box-content>
                </umb-box>

                <usync-migration-results results="vm.migrationResults"
                                         action="Migration"
                                         is-valid="vm.resultValid"
                                         show-all="true">
                </usync-migration-results>
            </div>


            <div ng-if="vm.canBeImported() && vm.step != 'init'">

                <usync-migration-import folder="vm.migrationStatus.target"
                                        migration-status="vm.migrationStatus"
                                        on-import="vm.importing()"
                                        on-report="vm.reporting()">
                </usync-migration-import>

            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-left>
                    <umb-button ng-if="vm.step != 'init'"
                                action="vm.goBack()"
                                label-key="general_back"
                                icon="icon-arrow-left"
                                button-style="link"></umb-button>
            </umb-editor-footer-content-left>
        </umb-editor-footer>
    </umb-editor-view>
</div>
